*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img-size{
    width: 4%;
}

.bg-header{
    background-color: rgb(33, 37, 41);
}

.margin-table{
    width: 70%;
    

}

.fs-7{
    font-size: small;
}

.table-size{
    width: 93%;
}



